@import "./reset";
@import "./variables";
@import "./mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-width: 320px;
	font-size: 1.4rem;
	font-family: "Montserrat", sans-serif;
	color: $main-dark;

	.toaster {
		color: $main-dark;
		border: 2px solid $accent-color;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

		.go2344853693 {
			background-color: $accent-color;
		}
	}

	@media (width >= 400px) {
		font-size: 1.6rem;
	}

	@media (width >= 1400px) {
		font-size: 1.8rem;
	}
}
