@import "../../sass/mixins";
@import "../../sass/animations";

.home {
	@include section;
	padding-top: 0;

	.wrapper {
		padding-left: 0;
		padding-right: 0;
		overflow: clip;
	}

	.contentContainer {
		border-radius: 30px;
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
	}

	.auroraBg {
		background: linear-gradient(
			to left bottom,
			white 60%,
			rgba(142, 246, 215, 0.4)
		);
		border-radius: 30px 30px 0px 0px;
		overflow: hidden;
	}

	.lightBox {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		padding: 2.5em 1em;
		padding-bottom: 4em;

		.heroHeading {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.3em;
			font-weight: 800;
			font-size: 1.9em;
			color: $main-dark;
			text-align: center;

			span {
				line-height: 0.9;
			}

			.line2 {
				color: $light-dark;
				display: flex;
			}
		}

		.text {
			margin-top: 1.5em;
			font-weight: 500;
			align-self: center;
			text-align: center;

			strong {
				font-weight: inherit;
			}
		}
		.featureList {
			display: flex;
			flex-direction: column;
			align-self: center;
			gap: 0.3em;
			margin: 2em 1em;
			list-style: none;

			.featureItem {
				display: flex;
				align-items: center;
				gap: 0.5em;
				animation: slide-in-blurred-left 3s cubic-bezier(0.23, 1, 0.32, 1) both;

				&:nth-child(2) {
					animation-delay: 0.4s;
				}

				&:nth-child(3) {
					animation-delay: 1.2s;
				}

				svg {
					font-size: 1.3em;
				}
			}
		}

		.ctaBtn {
			@include mainBtn(dark);
			margin: 3em auto;
			text-transform: uppercase;
		}
	}

	.darkBox {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2.5em 1em;
		padding-top: 15em;
		background: $gradient-dark;
		border-radius: 0px 0px 30px 30px;

		.screenImg {
			position: absolute;
			top: -65px;
			right: 0px;
		}

		.rocketImg {
			position: absolute;
			top: 100px;
			left: 15px;
			width: 70px;
			opacity: 0.15;
			animation: rocket-fly 0.5s infinite ease-in-out;
		}

		.arrowImg {
			position: absolute;
			width: 200px;
			bottom: -3px;
			right: 5px;
			rotate: -20deg;
			opacity: 0.15;
		}

		.heading {
			@include heading;
			display: flex;
			flex-direction: column;
			align-self: flex-start;
			color: white;
			font-weight: 500;

			.line1 {
				color: #94a9ce;
			}
		}

		.cardsContainer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
		}

		.techCard {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 295px;
			margin-top: 3em;
			padding: 2em 1em;
			background: $gradient-accent;
			border-radius: 15px;

			p {
				width: 90%;
				font-weight: 600;
				border-bottom: 1px solid $main-dark;
				padding-bottom: 1em;
			}

			.iconBox {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1em;
				margin-top: 1.5em;
			}
		}
	}
}

@media (width >= 400px) {
	.home {
		.darkBox {
			.screenImg {
				width: 350px;
			}

			.rocketImg {
				top: 120px;
				left: 10%;
			}
		}
	}
}

@media (width >= 576px) {
	.home {
		.wrapper {
			padding-left: 15px;
			padding-right: 15px;
			overflow: visible;
		}

		.lightBox {
			.heroHeading {
				font-size: 2.5em;
			}

			.text {
				margin-top: 2.5em;
				max-width: 90%;
			}

			.featureList {
				margin-top: 3em;
			}
		}

		.darkBox {
			padding-top: 22em;

			.screenImg {
				width: 470px;
				top: -70px;
				right: -35px;
			}

			.rocketImg {
				top: 200px;
				width: 90px;
			}

			.arrowImg {
				right: 60px;
			}
		}
	}
}

@media (width >= 768px) {
	.home {
		.lightBox {
			padding-bottom: 8em;
		}

		.darkBox {
			padding-top: 7em;

			.screenImg {
				width: 480px;
				top: -125px;
			}

			.rocketImg {
				top: 140px;
				left: 40%;
			}

			.arrowImg {
				width: 300px;
			}

			.cardsContainer {
				margin-top: 5em;
			}

			.techCard {
				align-self: flex-start;
				margin-left: 3em;
			}
		}
	}
}

@media (width >= 992px) {
	.home {
		.lightBox {
			padding: 2.5em 2em;

			.heroHeading {
				align-items: flex-start;
				font-size: 3em;
			}

			.text {
				text-align: left;
				align-self: flex-start;
				max-width: 50%;
			}

			.featureList {
				align-self: flex-start;
			}

			.ctaBtn {
				margin: 3em 0;
				align-self: flex-start;
			}
		}

		.darkBox {
			padding: 2.5em 2em;
			padding-top: 4em;

			.screenImg {
				width: 650px;
				top: -380px;
				right: -45px;
			}

			.rocketImg {
				top: 50px;
				left: 360px;
			}

			.arrowImg {
				right: 20px;
				rotate: -20deg;
			}

			.cardsContainer {
				flex-direction: row;
				justify-content: start;
				margin-top: 2em;
				gap: 4em;
			}

			.techCard {
				max-width: 350px;
			}
		}
	}
}

@media (width >= 1200px) {
	.home {
		.darkBox {
			padding: 5em;

			.screenImg {
				width: 750px;
				top: -450px;
			}

			.rocketImg {
				left: 430px;
				left: 26.9em;
			}

			.arrowImg {
				width: 350px;
				right: 30px;
			}
		}
	}
}

@media (width >= 1400px) {
	.home {
		.darkBox {
			.screenImg {
				width: 750px;
				top: -450px;
			}
		}
	}
}
