.feature {
	display: flex;
	align-items: center;
    max-width: 400px;
	gap: 1.5em;

	img {
		width: 60px;
	}

	.content {
		.title {
			font-size: 1.15em;
			font-weight: bold;
			margin-bottom: 0.25em;
		}
	}
}
