.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    width: 150px ;
	color: white;

	img {
		width: 70px;
	}

    .description {
        text-align: center;
    }
}
